<div class="hero-unit">
  <h1>Shower Power</h1>

  <p>
    My son takes long showers. Like 30 minutes. I swear it's costing a fortune,
    but my wife doesn't believe me. This is the sort of lengths I'll go to,
    just to prove my wife wrong.
  </p>

  <p>
    Plus I just discovered a nifty wee Javascript framework called <%= link_to 'Tangle', 'http://worrydream.com/Tangle/' %>
    that lets you play around with numbers and I wanted something simple to try
    it out with.
  </p>
</div>

